In [3]:
class hash_table:
    def __init__(self, n):
        self.bucket_num = n
        self.buckets = [[] for i in range(n)]
    
    def hash_function(self, num):
        return int(7 * num) % 5
    
    def save(self, lst):
        for num in lst:
            idx = self.hash_function(num)
            self.buckets[idx].append(num)
            
    def delete(self, num):
        idx = self.hash_function(num)
        if num in self.buckets[idx]:
            self.buckets[idx].remove(num)
        else:
            print('no such number!')
    
    def show(self):
        print(self.buckets)

In [4]:
test = hash_table(5)
test.save([7,5,3,4,1,2,8])
test.save([9])
test.delete(4)

In [5]:
test.show()

[[5], [3, 8], [1], [9], [7, 2]]

In [6]:
# database

In [7]:
import sqlite3

In [9]:
Db = sqlite3.connect('univeristy.db')
cursor = Db.cursor()

In [13]:
cursor.execute("""CREATE TABLE IF NOT EXISTS students(
id integer PRIMARY KEY,
name text NOT NULL,
class text NOT NULL,
grade integer);""")

In [14]:
cursor.execute("""INSERT INTO students(id, name, class, grade)
VALUES(1,'Marry', 'Python', 67);""")
Db.commit()

In [15]:
cursor.execute("""SELECT * FROM students;
""")
print(cursor.fetchall())

[(1, 'Marry', 'Python', 67)]

In [16]:
cursor.execute("""INSERT INTO students(id, name, class, grade)
VALUES(2,'Sam', 'C++', 76);""")
cursor.execute("""INSERT INTO students(id, name, class, grade)
VALUES(3,'Tom', 'Java', 88);""")

In [17]:
cursor.execute("""SELECT * FROM students;
""")
print(cursor.fetchall())

[(1, 'Marry', 'Python', 67), (2, 'Sam', 'C++', 76), (3, 'Tom', 'Java', 88)]

In [19]:
cursor = Db.cursor()

In [20]:
cursor.execute("""CREATE TABLE IF NOT EXISTS class(
id integer PRIMARY KEY,
name text NOT NULL,
teacher text NOT NULL);""")

In [22]:
cursor.execute("""INSERT INTO class(id, name, teacher)
VALUES(20, 'C++', 'XiaoMing');""")
cursor.execute("""INSERT INTO class(id, name, teacher)
VALUES(30, 'Java', 'LiHua');""")
cursor.execute("""INSERT INTO class(id, name, teacher)
VALUES(10, 'Python', 'WangHong');""")

In [23]:
cursor.execute("""SELECT * FROM class;
""")
print(cursor.fetchall())

[(10, 'Python', 'WangHong'), (20, 'C++', 'XiaoMing'), (30, 'Java', 'LiHua')]

In [27]:
Db.commit()

In [26]:
cursor.execute("""UPDATE students 
SET name='Richard'
WHERE id=1;
""")

In [28]:
Db.commit()

In [29]:
cursor.execute("""SELECT * FROM students;
""")
print(cursor.fetchall())

[(1, 'Richard', 'Python', 67), (2, 'Sam', 'C++', 76), (3, 'Tom', 'Java', 88)]

In [31]:
cursor.execute("""SELECT students.id, students.name, class.teacher
FROM students, class
WHERE students.class = class.name
AND students.grade > 80;
""")

In [32]:
print(cursor.fetchall())

[(3, 'Tom', 'LiHua')]

In [34]:
cursor = Db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled(
id_stu integer,
id_class integer,
grade integer NOT NULL,
PRIMARY KEY(id_stu, id_class));""")

In [35]:
cursor.execute("""INSERT INTO enrolled(id_stu, id_class, grade)
VALUES(2, 'Sam', 76);""")
cursor.execute("""INSERT INTO enrolled(id_stu, id_class, grade)
VALUES(3, 'Tom', 88);""")
cursor.execute("""INSERT INTO enrolled(id_stu, id_class, grade)
VALUES(1, 'Richard', 67);""")

In [36]:
cursor.execute("""SELECT students.name, students.class, enrolled.id_class
FROM students
INNER JOIN enrolled
ON students.id = enrolled.id_stu
""")

In [37]:
print(cursor.fetchall())

[('Richard', 'Python', 'Richard'), ('Sam', 'C++', 'Sam'), ('Tom', 'Java', 'Tom')]